html{
    font-size: 100%;
}

body{
    margin: 0 auto;
    background-color: rgb(48, 56, 65);
    color: white;  
    font-family: 'Asap Condensed', sans-serif;
}
main{  
    margin: 10rem 2rem 0;
}
/* Nav Bar */
header{
    width: 100%;
    top: 0;
    margin: 0 0 2rem; 
}
#nav-bar{
    display: inline-block;
    width: 100%;
    background-color: rgba(, 30, 30, 0.1);
    border-bottom: 2px solid rgb(44, 157, 50);
}
#nav-list li{
    display: inline-block;
    list-style: none;
    font-size: large;
}
#nav-list li a{
    font-size: 2rem;
}
.sections{
    padding-left: 20px;
    font-size: 1.5rem;
    position: relative;
    left: 30rem;
}
#icon{
    padding-bottom: 50px;
    height: 100%;
    font-size: 2rem;
}
/* First Section */
section{
    margin-top: 10rem;
}
h1, header p{
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
    color: rgb(44, 157, 50);
}
h2{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
#about h2{
    margin-top: 4rem;
}
p{
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}
/* Second Section */
#experience{
    border: 5px solid rgb(44, 157, 50);
    border-radius: 5px;
}
/* Third Section */
#skills ul li{
    padding: 1rem 2rem;
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    list-style: none;
    display: inline-block;
    border: 5px solid rgb(44, 157, 50);
    border-radius: 10px;
}
/*Form Section*/
form{
    width: 100%;
    margin: 0 auto;
}
label{
    font-size: 2.5rem;
    margin-left: 8rem;
    margin-bottom: 4rem;
}
input, textarea{
    display: block;
    width: 50rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 22rem;
    font-size: 2.5rem;
}
textarea{
    height: 8rem;
}
button {
    display: block;
    width: 20%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: rgb(44, 157, 50);
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  min-width: 300px;
}
/* Messages */
#messages ul li{
    border: 2.5px solid rgb(44, 157, 50);
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}
/* footer */
footer{
    background-color: rgb(25, 25, 25);
    margin-top: 4rem;
    height: 5rem;
}
footer p{
    text-align: justify;
    margin-top: 2rem;
}
/* Links */
a{
    color: #87ceeb;
    text-decoration: none;
}
a:visited{
    color: tomato;
}
a:hover{
    color: rgb(44, 157, 50);
    text-decoration: underline;
}
@media screen and (min-width: 200px) and (max-width: 740px) {
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .sections{
        display: none;
    }
    #skills ul li{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }
   
}
/* Form querie */
@media screen and (min-width: 375px) and (max-width: 900px){
    label{
        font-size: 1rem;
        margin-left: 1rem;
    }
    input, textarea{
        font-size: 16px;
        width: 100%;
        height: 30px;
        margin: auto;
    }
}