*{
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    margin: 0;
    background-color: rgb(48, 56, 65);
    color: ghostwhite;
    font-family: 'Asap Condensed', sans-serif;
}

/* Nav Bar */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid greenyellow;
}
#nav-list li{
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 2rem;
    text-align: center;
}
#nav-list li a{
    display: block;
    float: left;
    padding: 10px 10px;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
}
nav ul{
    margin: 0;
    list-style: none;
}
ul li a{
    color: rgb(44, 157, 50);
}
    

ul li a:hover{
    text-decoration: underline;
    text-decoration-color: aquamarine;
}
/* Main */
h1, h2{
    padding-top: 5rem;
}
/* First Section */
h1{
    margin-bottom: 0;
    font-size: 4rem;
    color: greenyellow;
    text-align: center;
}
#who-section p{
    text-align: center;
    font-size: 1.5rem;
}
/* Second Section */
#about, #education, #connect, #form-section{
    margin: 4rem 5rem 2rem;

}
section h2{
    text-align: center;
    font-size: 2.5rem;
}
#about p{
    font-size: 1.5rem;
    text-align: justify;
}
/* Third Section */
#education{
    width: 80vw;
    margin: auto;
    background-color: rgba(173, 255, 47, 0.5);
    border-radius: 10px;
}
.grid-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1fr;
    align-items: center;
    text-align: center;
}
#education p{
    font-size: 1.5rem;
}
#freeCodeCamp{
    color: purple;
    text-decoration: none;
}
#freeCodeCamp:hover{
    color: black;
    text-decoration: underline;
}
#freeCodeCamp:visited{
    color: midnightblue
}
/* Fourth Section */

#skills ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
#skills ul{
    list-style: none;
}
#skills ul li{
    border: 2px solid rgb(44, 157, 50);
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 1.5rem;
}
/* Fifth Section */
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
label{
    font-size: 1.2rem;
}
input, textarea{
    height: 5vh;
    width: 25vw;
    font-size: 1.2rem;
}
textarea{
    margin-left: 2.2rem;
}
input[type="text"]{
    margin-left: 3.8rem;
}
input[type='email']{
    margin-left: 2.1rem;
}
form button{
    align-self: flex-start;
    border: 1px solid rgb(48, 56, 65);
    border-radius: 5px;
    background-color: rgb(44, 157, 50);
    font-size: 1.5rem;
    text-align: center;
    width: 8rem;
    height: 2rem;
}
/* Projects */
#projects{
    margin: 0 2vw 0rem 2vw;
}
#projects ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
#projects ul li{
    font-size: 1.5rem;
}

/* Messages */
#messages{
    font-size: 1.5rem;
}
#messages ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
#message ul li a{
    color: orangered;
}
#messages ul li{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid greenyellow;
    border-radius: 5px;
}
#removeButton, #editButton{
    background-color: black;
    color: ghostwhite;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1rem 0.2rem 1rem 0.2rem;
    
}
#editTextarea{
    width: 10vw;
    height: 2rem;
    margin: auto;
    text-align: center;
}

/* Footer */
footer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 4px solid greenyellow;
}
footer p{
    text-align: center;
    font-size: 1.5rem;
}
footer i{
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 10px;
}
footer a{
    color: ghostwhite;
}
#copyright{
    order: -1;
}
.social{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media screen and (max-width: 640px) {
    #nav-list li{
        font-size: 1.2rem;
        padding: 0;
        margin: 0;
    }
    #nav-list{
        padding: 0;
    }
}
@media screen and (max-width: 395px) {
    #nav-list li{
        font-size: 1rem;
    }
}